*,
*::before,
*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container
{
    /* border:1px solid red; */
    width: 100%;
    max-width: 777px;
    margin: 0 auto;
}
.header
{
    padding-top: 45px;
}
.header__inner
{
  border-bottom: 2px solid #555;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.header__title
{
    display: inline-block;
    font-size: 25px;
    color:#000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    /* border:1px solid red; */
    padding: 10px 20px;
    transition:linear .3s;
    cursor: pointer;
}
.header__inner img
{
background-color: #000;
display: block;
cursor: pointer;
margin-right: 120px;
margin-bottom: 15px;
}
.header__icons
{
    align-self: center;
}
.header__icons i
{
    font-size: 25px;
    color:#000;
}
.main-form
{
    text-align: center;
}
input,
.main__btn
{
    display: block;
    margin: 0 auto;
}
label
{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px 1px #555;
    letter-spacing: 5px;

    
}
label::after
{
    content:"";
    display: block;
    width: 70px;
    height: 3px;
    margin: 10px auto 0;
    background-color: #555;
}
input
{
    width: 100%;
    max-width: 350px;
    margin-bottom: 15px;
    border:0;
    border-bottom: 1px solid #000;
    /* outline: none; */
}
.main__btn
{
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 30px;
    padding: 10px 0;
    cursor: pointer;
    background-color: #000;
    border:0;
    color:#fff;
    letter-spacing: 5px;
    border-radius: 4px;
    outline: none;
    transition:linear .2s;
}
.main__btn:hover
{
color:#000;
border:1px solid #000;
background-color:#fff;
}
.main__btn:active
{
    transform: scale(0.9);
    background-color: #000;
    color:#fff;
}
.footer
{
    background-color: #000;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px 0;
}
#list__tasks
{
    border:1px solid #000;
    padding: 20px 10px;
}
.list
{
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
}
.list__title
{
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 7px;
}